@font-face {
  font-family: "MaisonNeue-Bold";
  src: url("font/MaisonNeue-Bold.ttf");
}

@font-face {
  font-family: "MaisonNeue-Book";
  src: url("font/MaisonNeue-Book.ttf");
}

@font-face {
  font-family: "MaisonNeue-Light";
  src: url("font/MaisonNeue-Light.ttf");
}
