$primary-color: #5d2e8f;
$secondary-color: #fafafa;
$box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.09);

@font-face {
  font-family: MaisonNeue-Bold;
  src: url("../css/font/MaisonNeue-Bold.ttf");
}

@font-face {
  font-family: MaisonNeue-Light;
  src: url("../css/font/MaisonNeue-Light.ttf");
}

@font-face {
  font-family: MaisonNeue-Book;
  src: url("../css/font/MaisonNeue-Book.ttf");
}
