@import "variables", "mixins";

.super {
  background-color: $cos-secondary-color;
}

.super__container {
  max-width: 1970px;
  margin: auto;
}

.container-fluid {
  background-color: $cos-secondary-color;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  .content {
    @include screen-lg {
      width: 95% !important;
    }

    .stretched-link {
      opacity: 0;
    }

    &__blog__main {
      padding-right: 0 !important;
      padding-left: 0 !important;

      @include custom-screen-size(1200px) {
        width: 95%;
        margin: auto;
      }
    }

    &__blog__side {
      padding: 30px 10px;
      .popular {
        &__wrapper {
          border-radius: $cos-border-size;
          background-color: #fff;
          &--item {
            img {
              width: 100px;
              height: 75px;
            }
          }
        }
      }

      .category {
        &__wrapper {
          background-color: #fff;
          border-radius: $cos-border-size;
        }
      }
    }
  }
}
