@import "variables", "mixins";

.super {
  background-color: $cos-secondary-color;
}

.super__container {
  max-width: 1970px;
  margin: auto;
}

.container-fluid {
  background-color: $cos-secondary-color;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  .content {
    @include screen-lg {
      width: 95% !important;
    }

    .stretched-link {
      opacity: 0;
    }

    &__blog__side {
      .popular {
        border-radius: $cos-border-size;
        background-color: #fff;
        &__wrapper {
          &--item {
            img {
              width: 100px;
              height: 75px;
            }
          }
        }
      }

      .category {
        background-color: #fff;
        border-radius: $cos-border-size;
      }
    }
  }
}
