@import "variables", "mixins";

.super {
  overflow: hidden;
}

.super__container {
  max-width: 1970px;
  margin: auto;
  opacity: 0;
  background-color: $cos-secondary-color;
  transition: opacity 1s;
}

.container-fluid {
  background-color: $cos-secondary-color;
  width: 75%;
  margin: auto;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 150px !important;

  .career__container {
    width: 75%;
    margin: auto;

    @include screen-md {
      width: 95%;
    }
  }

  .career {
    &--item {
      border-radius: $cos-border-size;
      background-color: #ffffff;

      @include screen-md {
        width: 100% !important;
      }

      .header {
        svg {
          margin-right: 10px;
        }
      }

      .footer {
        a {
          background-color: $cos-primary-color;
        }
      }
    }
  }

  .pages {
    &__wrapper {
      display: flex;
      justify-content: center;

      a {
        text-decoration: none;
        color: #000;
      }

      .arrow {
        padding: 0 5px;
      }

      .page-list {
        display: flex;
        justify-content: center;
        padding: initial;

        li {
          list-style: none;
          padding: 0 5px;
        }

        .current {
          text-decoration: underline;
          font-weight: bold;
        }
      }
    }
  }
}
