@import "variables", "mixins";

.container-fluid {
  background-color: $cos-secondary-color;
  .career {
    &--item {
      border-radius: $cos-border-size;
      background-color: #ffffff;

      @include screen-md {
        width: 100% !important;
      }

      .header {
        svg {
          margin-right: 10px;
        }
      }

      .footer {
        a {
          background-color: $cos-primary-color;
        }
      }
    }
  }
}
