@import "variables", "mixins";

.super {
  overflow: hidden;
}

.super__container {
  max-width: 1970px;
  margin: auto;
  opacity: 0;
  background-color: $cos-secondary-color;
  transition: opacity 1s;
}

.container-fluid {
  background-color: $cos-secondary-color;
}
