@import "variables", "mixins";

.super {
  background-color: $cos-secondary-color;
}

.super__container {
  max-width: 1970px;
  margin: auto;
}

.container-fluid {
  background-color: $cos-secondary-color;
}
