@import "variables";

footer {
  font-size: 0.8em;
  .footer__wrapper {
    min-height: 20vh !important;
    background-color: #ffffff;
    border-radius: 30px !important;

    .social-media {
      .icon img {
        width: 36px;
      }
    }
  }

  .color-bar {
    width: 100% !important;
    height: 1vh !important;
    background-image: url("../assets/color-bar.png") !important;
    background-size: fit;
  }
}
