@import "variables", "mixins";

footer {
  font-size: 0.8em;
  .footer__wrapper {
    box-shadow: $box-shadow;

    width: 75%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 30px !important;

    @include screen-lg {
      width: 95%;
    }

    &--bottom {
      @include screen-sm {
        flex-direction: column;
      }
      .social-media {
        .icon img {
          width: 36px;
        }
      }
    }
  }

  .color-bar {
    width: 100% !important;
    height: 1vh !important;
    background-image: url("../assets/color-bar.png") !important;
    background-size: fit;
  }
}
