.form {
  min-width: 350px;
  background-color: #ffffff;
  padding: 3em;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.09);

  table tr td * {
    width: 100%;
    margin-bottom: 1em;
  }

  table tr td input,
  table tr td select {
    height: 2.5em;
    border-radius: 10px;
    border: 1px solid #cecece;
    background-color: #f2f2f5;
    padding: 0 1em;
  }

  table tr td input,
  table tr td textarea {
    padding: 1em;
    box-sizing: border-box;
    resize: none;
    border: 1px solid #cecece;
    background-color: #f2f2f5;
    border-radius: 10px;
  }

  .checkbox {
    display: flex;
    padding: 2em 0;
  }

  .checkbox--square {
    margin-right: 1em !important;
  }

  .checkbox--text a {
    text-decoration: none;
    padding: 0 0.6em;
  }

  .submit-table tr td {
    width: 100%;
    text-align: center;
    background-color: #5d2e8f;
    padding: 1em 0;
    border-radius: 50px;
  }

  .submit-table tr td a {
    text-decoration: none;
    color: #ffffff;
  }
}
