@import "mixins", "variables";
@import "../node_modules/slick-carousel/slick/slick.scss",
  "../node_modules/slick-carousel/slick/slick-theme.scss";

.container-fluid {
  background-color: $cos-secondary-color;
  .product {
    overflow: hidden;
    .slidebar {
      .arrow {
        cursor: pointer;
      }
    }

    &__wrapper {
      z-index: 999;
    }

    .col-md-6:nth-child(2) {
      height: 80vh;

      @include screen-sm {
        height: 50vh;
      }

      .bg {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 75%;
      }

      .phone-img {
        z-index: 999;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 40%;
      }
    }

    &--logo {
      width: 100px;
    }

    &--text-bg {
      font-size: 8em;
      color: #e0e0e0 !important;
      position: absolute;
      left: 0;
      top: 0;
      //   z-index: 1 !important;
    }

    &--rating {
      .rate__wrapper {
        background-color: #ffffff;
        border-radius: $cos-border-size !important;
        width: 200px;

        &--left {
          font-size: 0.7em;
        }

        &--right {
          font-size: 1.5em;
          line-height: 20px;

          img {
            max-width: 50px;
          }
        }
      }
    }

    .btn--learn-more {
      background-color: $cos-primary-color;
    }
  }

  .client {
    &__item img {
      width: 75%;
      border-radius: $cos-border-size;
      background-color: #ffffff;

      @include screen-md {
        width: 70%;
      }

      @include screen-sm {
        width: 70%;
      }
    }
  }

  .module {
    height: 100vh;
    &__wrapper {
      .slick-dots {
        bottom: -50px;
        li {
          margin: 0 25px;
        }
      }

      &--item {
        width: 250px !important;
      }
    }
  }

  .feature {
    overflow: hidden;

    .col-md-6:nth-child(1) {
      width: 400px !important;
      z-index: 9999;
    }
    &--card {
      background-color: #ffffff;
      border-radius: $cos-border-size;

      .header {
        img {
          width: 10%;
        }
      }
    }

    .col-md-6:nth-child(2) {
      min-height: 150vh;
      .bg {
        position: absolute;
        width: 900px;
        // height: 100%;
        right: 0;
        transform: translateX(20%);
      }

      .phone-img {
        width: 300px;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -25%);
      }
    }
  }
  .about {
    &__wrapper {
      background-color: #ffffff !important;
      border-top-left-radius: $cos-border-size;
      border-bottom-left-radius: $cos-border-size;
      border-top-right-radius: $cos-border-size;
      border-bottom-right-radius: $cos-border-size;
      padding: 0 !important;

      .col-lg-6:nth-child(2) {
        padding-right: 0 !important;
        padding-left: 0 !important;
        img {
          border-top-right-radius: $cos-border-size;
          border-bottom-right-radius: $cos-border-size;

          @include screen-lg {
            border-top-right-radius: 0;
            border-bottom-left-radius: $cos-border-size;
          }
        }
      }
    }
  }

  .contact-us {
    .col-lg-6:nth-child(1) {
      .achievement {
        font-size: 0.8em;
        line-height: 15px;
      }
    }
  }
}
