@import "mixins", "variables";
@import "../node_modules/slick-carousel/slick/slick.scss",
  "../node_modules/slick-carousel/slick/slick-theme.scss";

.super {
  overflow: hidden;
}

.super__container {
  max-width: 1970px;
  margin: auto;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 1s, background-color 1s;
}

.container-fluid {
  background-color: $cos-secondary-color;
  overflow: hidden;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-top: 150px !important;

  .unified-management {
    @include w-75;
    padding: $section-gap 0;

    @include screen-lg {
      width: 90%;
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include screen-lg {
        flex-direction: column;
      }

      .unified-management--txt {
        width: 500px;

        @include screen-lg {
          width: 100%;
        }

        .btn--learn-more {
          background-color: #ae2217;
          padding: 7px;
          color: #ffffff;
          text-decoration: none;
          border-radius: 5px;
        }
      }
      .unified-management--img {
        width: 600px;

        @include screen-lg {
          width: 75%;
          margin: auto;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .solution {
    background-color: #53565a;
    padding: 50px 0;
    margin-bottom: $section-gap;

    &--container {
      @include w-75;
      color: #ffffff;
      text-align: center;

      @include screen-lg {
        width: 90%;
      }

      .item--container {
        display: flex;

        @include screen-lg {
          flex-direction: column;
        }

        .item {
          margin: 10px 0;
        }
      }
    }
  }

  .demo {
    @include w-75;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: $section-gap;

    @include screen-lg {
      width: 90%;
      flex-direction: column;
    }

    &--txt {
      text-align: center;
      color: #ae2217;

      @include screen-lg {
        padding-bottom: 20px;
      }
    }

    &--link {
      text-decoration: none;
      color: #ffffff;
      background-color: #ae2217;
      padding: 10px;
      border-radius: 10px;
    }
  }

  .feature {
    @include w-75;
    padding: $section-gap 0;

    @include screen-lg {
      width: 90%;
    }

    &--item {
      display: flex;
      justify-content: space-between;

      @include screen-lg {
        flex-direction: column;
      }

      .item {
        background-color: #ffffff;
        border: solid 2px rgb(246, 250, 251);
        border-radius: 10px;
        margin: 0 10px;
        margin-bottom: 20px;

        h5 {
          padding: 10px;
          background-color: rgb(246, 250, 251);
        }
      }
    }
  }

  .client {
    margin-bottom: $section-gap;
    .slick-list {
      padding: 20px 0;
    }

    .slick-slide {
      margin: 0 20px;
    }

    &__item {
      img {
        width: 100%;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: $box-shadow;

        @include screen-sm {
          width: 220px;
        }

        @include custom-screen-size(472px) {
          width: 180px;
        }

        @include custom-screen-size(380px) {
          width: 160px;
        }

        @include custom-screen-size(380px) {
          width: 140px;
        }
      }
    }
  }

  .ready {
    height: 300px;
    background-image: url("../assets/itsm/wallapeper-itsm-ivanti-new.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    color: #ffffff;
    background-attachment: fixed;
    background-position: top center;
    text-align: center;
    margin-bottom: $section-gap;

    h1 {
      width: 90%;
      margin: auto;
    }
  }
}
