@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "variables", "mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  font-size: 0.8em;

  @include screen-md {
    font-size: 0.6em;
  }

  .nav {
    &--logo {
      max-width: 15%;
    }

    &--links {
      .contact-us {
        background-color: $cos-primary-color;
      }
    }

    &--switch {
      width: 100px;
      background-color: $cos-secondary-color;

      * {
        background-color: $cos-secondary-color;
      }

      .active {
        background-color: $cos-primary-color !important;
        color: #ffffff;
        border-radius: $border-radius-lg;
      }
    }
  }
}
