@import "variables", "styling";

nav {
  width: 80%;
  margin: auto;
  height: $navbar-height;
  font-family: MaisonNeue-Book;

  .nav {
    @include flex-item-center(space-between);

    &--links {
      @include flex-justify-content(space-between);
      text-decoration: none;
      width: 50%;
      color: red;
      font-size: 0.7rem;

      @include large-screen {
        font-size: 0.8rem;
      }

      @include medium-screen {
        font-size: 0.6rem;
      }

      @include small-screen {
        font-size: 0.6rem;
      }

      a {
        text-decoration: none;
        color: #000000;
        display: flex;
        align-items: center;
      }

      .contact-us {
        @extend %btn;
      }
    }

    &--logo {
      @include small-screen {
        width: 25%;
      }

      @include medium-screen {
        width: 25%;
      }
    }
  }

  .nav--switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    width: 8em;
    height: 30px;
    position: relative;
    border-radius: 50px;
    margin-left: auto;
    box-sizing: border-box;
    padding: 0 20px;

    @include large-screen {
      font-size: 0.8rem;
    }

    @include medium-screen {
      font-size: 0.6rem;
    }

    @include small-screen {
      font-size: 0.6rem;
    }

    .ina-lang {
      width: 50%;
      height: 100%;
      background-color: $primary-color;
      position: absolute;
      left: 0;
      @include flex-item-center(center);
      color: white;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }

    .en-lang {
      color: #000;
      position: absolute;
      right: 0;
      width: 50%;
      height: 100%;
      @include flex-item-center(center);
    }
  }
}
