@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "variables", "mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  font-size: 0.8em;
  background-color: $cos-secondary-color;
  position: relative;
  z-index: 9999;

  @include screen-md {
    font-size: 0.6em;
  }

  .nav {
    .container {
      @include screen-md {
        max-width: 100vw !important;
      }
    }

    &--logo {
      max-width: 130px;
    }

    &--links {
      .list-inline {
        margin-bottom: 0 !important;
      }

      .contact-us {
        background-color: $cos-primary-color;
      }

      li:hover > .dropdown {
        display: flex !important;
        justify-content: space-between !important;
        top: 20px !important;
        // right: 15px !important;
      }

      li .dropdown {
        background-color: #ffffff;
        display: none !important;
        width: 500px !important;
      }

      li .dropdown li:hover > a {
        background-color: $cos-primary-color !important;
        color: #ffffff !important;
      }
    }

    &--switch {
      width: 100px;
      background-color: $cos-secondary-color;

      * {
        background-color: $cos-secondary-color;
      }

      .active {
        background-color: $cos-primary-color !important;
        color: #ffffff;
        border-radius: $border-radius-pill;
      }
    }
  }
}
