@import "mixins", "variables";
@import "../node_modules/slick-carousel/slick/slick.scss",
  "../node_modules/slick-carousel/slick/slick-theme.scss";

.container-fluid {
  background-color: $cos-secondary-color;
  overflow: hidden;
  .siap-banner {
    img {
      width: 200px;
    }
    &--rating {
      .rate__wrapper {
        background-color: #ffffff;
        border-radius: $cos-border-size !important;
        width: 200px;

        &--left {
          font-size: 0.7em;
        }

        &--right {
          font-size: 1.5em;
          line-height: 20px;

          img {
            max-width: 50px;
          }
        }
      }
    }
  }

  .siap-demo {
    img {
      width: 300px;
    }

    .btn--demo {
      background-color: $cos-primary-color;
    }
  }

  .testimonial--cards {
    .testi-card {
      min-width: 200px;
      .header {
        position: relative;
        img {
          max-width: 200px;
          height: 100%;
          position: relative;
          z-index: 9999;
        }

        .white-bg {
          width: 100%;
          height: 50%;
          position: absolute;
          background-color: #ffffff;
          bottom: 0;
          border-top-left-radius: $cos-border-size;
          border-top-right-radius: $cos-border-size;
        }
      }

      .body {
        background-color: #ffffff;
        border-bottom-left-radius: $cos-border-size;
        border-bottom-right-radius: $cos-border-size;
      }
    }
  }

  .module {
    .col-md-4:nth-child(1) {
      .module--item {
        img {
          width: 50px;
          margin: 20px 0;
        }
      }
    }

    .col-md-4:nth-child(2) {
      .module--item {
        img {
          width: 220px;
        }
        a {
          background-color: $cos-primary-color;
        }
      }
    }

    .col-md-4:nth-child(3) {
      .module--item {
        img {
          width: 50px;
          margin: 20px 0;
        }
      }
    }
  }

  .feature {
    &__wrapper {
      &--item {
        width: 350px;
        .header {
          position: relative;

          .logo {
            width: 75px;
            height: 75px;
            background-color: orange;
            position: relative;
            z-index: 9999;
            border-radius: $cos-border-size;
          }

          .white-bg {
            width: 100%;
            height: 25px;
            position: absolute;
            background-color: #ffffff;
            bottom: 0;
            border-top-left-radius: $cos-border-size;
            border-top-right-radius: $cos-border-size;
          }
        }

        .body {
          background-color: #ffffff;
          border-bottom-left-radius: $cos-border-size;
          border-bottom-right-radius: $cos-border-size;
          .btn-learn {
            background-color: $cos-primary-color;
          }
        }
      }
    }
  }

  .company {
    img {
      width: 100%;
    }
  }

  .client {
    .title {
      //   margin-bottom: 100px;
    }
    &__wrapper {
      display: flex;
      align-items: center;
    }

    &-card {
      overflow: hidden;
      .card-container {
        width: 300px;
        margin: 0 10px;
        margin: auto;
        .header {
          position: relative;
          img {
            width: 200px;
            position: relative;
            z-index: 999999;
          }

          .white-bg {
            width: 100%;
            height: 100px;
            background: white;
            position: absolute;
            bottom: 0;
            border-top-left-radius: $cos-border-size;
            border-top-right-radius: $cos-border-size;
          }
        }

        .body {
          background-color: #ffffff;
          padding: 20px 10px;
          border-bottom-left-radius: $cos-border-size;
          border-bottom-right-radius: $cos-border-size;
        }
      }
    }
  }

  .contact {
    .purple {
      background-color: $cos-primary-color;
    }
  }
}
