@import "mixins", "variables";

.container-fluid {
  background-color: $cos-secondary-color;
  .category {
    &__card:nth-child(even) {
      margin-top: 70px;

      @include screen-md {
        margin-top: 0;
      }
    }
  }
}
