@import "mixins", "variables";

.subscription__wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  width: 500px;
  max-width: 500px;
  background-color: #fff;
  z-index: 9999999;
  border-radius: 10px;
  box-shadow: $box-shadow;

  @include screen-md {
    width: 100%;
  }

  input {
    padding: 5px;
  }

  .btn--decline {
    color: #0078d1;
  }

  .btn--allow {
    background-color: #0078d1;
    color: #fff;
  }

  .btn--allow:hover {
    color: #fff;
  }
}
