* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: testing1;
  src: url("./font/MaisonNeue-Bold.ttf") format("truetype");
}

@font-face {
  font-family: testing2;
  src: url("./font/Gontela.ttf");
}

h1 {
  font-family: testing1;
}

h2 {
  font-family: testing2;
}
