.super {
  overflow: hidden; }

.super__container {
  max-width: 1970px;
  margin: auto;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 1s, background-color 1s; }

.container-fluid {
  background-color: #fafafa;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-top: 150px; }
  .container-fluid .content {
    width: 75%;
    margin: auto; }
    @media (max-width: 992px) {
      .container-fluid .content {
        width: 95% !important;
        margin: auto; } }
    .container-fluid .content .stretched-link {
      opacity: 0; }
    .container-fluid .content__blog {
      display: flex; }
      @media (max-width: 768px) {
        .container-fluid .content__blog {
          flex-direction: column; } }
      .container-fluid .content__blog--main {
        max-width: 1200px;
        margin-right: 20px; }
        @media (max-width: 768px) {
          .container-fluid .content__blog--main {
            margin-right: 0; } }
        .container-fluid .content__blog--main .body__content--top {
          display: flex; }
        .container-fluid .content__blog--main .body__content--list {
          width: 100%;
          margin: auto; }
          .container-fluid .content__blog--main .body__content--list .item img {
            width: 100%; }
      @media (max-width: 1280px) {
        .container-fluid .content__blog--side {
          min-width: 300px; } }
