.container-fluid {
  background-color: #f3f3f3; }
  .container-fluid .content {
    min-height: 100vh; }
    .container-fluid .content__container__top .bg {
      background-image: url("../assets/Real Violet Air Sterilizer - PT Realta Chakradarma.png");
      background-size: 100% 100%;
      min-width: 100px;
      min-height: 300px;
      border-top-left-radius: 15px !important;
      border-bottom-left-radius: 15px !important; }
    .container-fluid .content__container__top .body-text {
      background-color: #ffffff;
      border-top-right-radius: 15px !important;
      border-bottom-right-radius: 15px !important; }
    .container-fluid .content .side-panel {
      background-color: #ffffff;
      width: 100% !important;
      border-radius: 15px; }
