.super {
  background-color: #fafafa;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s; }

.super__container {
  max-width: 1970px;
  margin: auto; }

.container-fluid {
  background-color: #fafafa;
  width: 75%;
  margin: auto;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important; }
  .container-fluid .career__container {
    width: 75%;
    margin: auto; }
    @media (max-width: 768px) {
      .container-fluid .career__container {
        width: 95%; } }
  .container-fluid .career--item {
    border-radius: 15px;
    background-color: #ffffff; }
    @media (max-width: 768px) {
      .container-fluid .career--item {
        width: 100% !important; } }
    .container-fluid .career--item .header svg {
      margin-right: 10px; }
    .container-fluid .career--item .footer a {
      background-color: #5d2e8f; }
