.super {
  overflow: hidden; }

.super__container {
  max-width: 1970px;
  margin: auto;
  opacity: 0;
  background-color: #fafafa;
  transition: opacity 1s; }

.container-fluid {
  background-color: #fafafa; }
