.super {
  background-color: #fafafa; }

.super__container {
  max-width: 1970px;
  margin: auto; }

.container-fluid {
  background-color: #fafafa; }
  .container-fluid .content {
    width: 75%;
    margin: auto; }
    @media (max-width: 768px) {
      .container-fluid .content {
        width: 100%; } }
