footer {
  font-size: 0.8em; }
  footer .footer__wrapper {
    box-shadow: 0px 5px 10px 0px #d6d6d6;
    width: 75%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 30px !important; }
    @media (max-width: 992px) {
      footer .footer__wrapper {
        width: 95%; } }
    @media (max-width: 576px) {
      footer .footer__wrapper--bottom {
        flex-direction: column; } }
    footer .footer__wrapper--bottom .social-media .icon img {
      width: 36px; }
  footer .color-bar {
    width: 100% !important;
    height: 1vh !important;
    background-image: url("../assets/color-bar.png") !important;
    background-size: fit; }
