footer {
  font-size: 0.8em; }
  footer .footer__wrapper {
    width: 75%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 30px !important; }
    @media (max-width: 768px) {
      footer .footer__wrapper {
        width: 95%; } }
    footer .footer__wrapper .social-media .icon img {
      width: 36px; }
  footer .color-bar {
    width: 100% !important;
    height: 1vh !important;
    background-image: url("../assets/color-bar.png") !important;
    background-size: fit; }
