.contact-us {
  padding: 20px 0; }
  @media (max-width: 576px) {
    .contact-us {
      width: 95%;
      margin: auto; } }
  .contact-us .col-lg-6:nth-child(1) .achievement {
    font-size: 0.8em;
    line-height: 15px; }
    .contact-us .col-lg-6:nth-child(1) .achievement--item {
      margin-right: 10px; }
      @media (max-width: 376px) {
        .contact-us .col-lg-6:nth-child(1) .achievement--item {
          margin-right: 0; } }
  .contact-us .col-lg-5 {
    box-shadow: 0px 5px 10px 0px #d6d6d6;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-radius: 15px; }
    .contact-us .col-lg-5 .select-i {
      background-image: url("../assets/Icon awesome-arrow-down.png");
      background-repeat: no-repeat;
      background-position: right 10px center;
      padding-right: 30px; }
    .contact-us .col-lg-5 select,
    .contact-us .col-lg-5 textarea,
    .contact-us .col-lg-5 input {
      background-color: #f2f2f5;
      resize: none; }
