@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.super {
  background-color: #fafafa;
  overflow: hidden; }

.super__container {
  max-width: 1970px;
  margin: auto; }

.container-fluid {
  background-color: #fafafa;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow: hidden; }
  .container-fluid .product {
    margin-bottom: 40px;
    display: flex; }
    .container-fluid .product .left-product {
      width: 100%;
      padding-left: 10%;
      z-index: 20;
      padding-right: 20px; }
      @media (max-width: 992px) {
        .container-fluid .product .left-product {
          width: 50%;
          padding-left: 20px !important; } }
      @media (max-width: 576px) {
        .container-fluid .product .left-product {
          padding-left: 10px !important; } }
      .container-fluid .product .left-product .product__wrapper__context .product--item {
        opacity: 0;
        transform: translateX(-70px); }
    .container-fluid .product--logo {
      width: 150px;
      height: 100px;
      opacity: 0;
      margin: 15px 0; }
      @media (max-width: 576px) {
        .container-fluid .product--logo {
          width: 75%;
          height: 75%; } }
      @media (max-width: 320px) {
        .container-fluid .product--logo {
          min-width: 100px;
          min-height: 80px;
          width: 100px;
          height: 80px; } }
    .container-fluid .product--title {
      white-space: nowrap;
      font-weight: normal; }
      @media (max-width: 576px) {
        .container-fluid .product--title {
          font-size: 1rem;
          line-height: 25px; }
          .container-fluid .product--title .big-title {
            font-size: 2rem;
            font-weight: bold; } }
    .container-fluid .product--desc {
      margin-bottom: 0 !important; }
      @media (max-width: 576px) {
        .container-fluid .product--desc {
          font-size: 0.8em;
          margin-bottom: 50px; } }
    .container-fluid .product--text-bg {
      font-size: 8em;
      color: #e0e0e0 !important;
      position: absolute;
      left: 0;
      top: 0; }
    @media (max-width: 768px) {
      .container-fluid .product--rating {
        flex-direction: column; } }
    @media (max-width: 576px) {
      .container-fluid .product--rating {
        flex-direction: row; } }
    .container-fluid .product--rating img {
      width: 200px; }
      @media (max-width: 992px) {
        .container-fluid .product--rating img {
          width: 175px; } }
      @media (max-width: 576px) {
        .container-fluid .product--rating img {
          width: 150px; } }
    .container-fluid .product .btn--learn-more {
      white-space: nowrap;
      background-color: #5d2e8f; }
    .container-fluid .product .slidebar .arrow {
      cursor: pointer; }
    .container-fluid .product .slidebar .colorbar--item {
      width: 30px;
      height: 5px;
      background-color: #b7b7b7; }
      @media (max-width: 450px) {
        .container-fluid .product .slidebar .colorbar--item {
          width: 25px; } }
      @media (max-width: 375px) {
        .container-fluid .product .slidebar .colorbar--item {
          width: 20px; } }
    .container-fluid .product .right-product {
      width: 100%;
      background-image: url("../assets/mobile-slider-bg.png");
      background-repeat: no-repeat;
      background-size: 500px;
      background-position: center; }
      @media (max-width: 992px) {
        .container-fluid .product .right-product {
          background-size: 400px; } }
      @media (max-width: 768px) {
        .container-fluid .product .right-product {
          background-position-x: 75px; } }
      @media (max-width: 576px) {
        .container-fluid .product .right-product {
          background-size: 500px;
          background-position-x: 50px;
          background-position-y: 50px; } }
      @media (max-width: 400px) {
        .container-fluid .product .right-product {
          background-position-x: 25px;
          background-position-y: 50px; } }
      @media (max-width: 375px) {
        .container-fluid .product .right-product {
          background-position-x: 0; } }
      .container-fluid .product .right-product .phone-img {
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        @media (max-width: 768px) {
          .container-fluid .product .right-product .phone-img {
            width: 250px; } }
        @media (max-width: 576px) {
          .container-fluid .product .right-product .phone-img {
            width: 200px;
            top: 25%;
            left: inherit;
            right: 0;
            transform: translate(0, -25%); } }
        @media (max-width: 375px) {
          .container-fluid .product .right-product .phone-img {
            width: 165px;
            top: 30%;
            left: inherit;
            right: 0;
            transform: translate(0, -30%); } }
  .container-fluid .client .slick-list {
    padding: 20px 0; }
  .container-fluid .client .slick-slide {
    margin: 0 20px; }
  .container-fluid .client__item img {
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px #d6d6d6; }
    @media (max-width: 576px) {
      .container-fluid .client__item img {
        width: 220px; } }
    @media (max-width: 472px) {
      .container-fluid .client__item img {
        width: 180px; } }
    @media (max-width: 380px) {
      .container-fluid .client__item img {
        width: 160px; } }
    @media (max-width: 380px) {
      .container-fluid .client__item img {
        width: 140px; } }
  .container-fluid .module {
    background-color: #ffffff;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 100px; }
    @media (max-width: 576px) {
      .container-fluid .module {
        border-top-left-radius: 80px;
        border-top-right-radius: 80px; } }
    .container-fluid .module .text-center {
      padding: 100px 0; }
    .container-fluid .module__wrapper .slick-dots {
      position: initial;
      padding: 20px 0; }
      .container-fluid .module__wrapper .slick-dots li {
        white-space: nowrap;
        width: auto;
        margin: 0 20px; }
    .container-fluid .module__wrapper .slick-current {
      transform: scale(1) !important;
      transition: transform 1s; }
    .container-fluid .module__wrapper .slick-slide {
      transform: scale(0.9); }
    .container-fluid .module__wrapper--item {
      width: 250px !important; }
      .container-fluid .module__wrapper--item .header {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; }
      .container-fluid .module__wrapper--item .body {
        height: 250px; }
      .container-fluid .module__wrapper--item .footer {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 0px 5px 10px 0px #d6d6d6; }
  .container-fluid .feature {
    overflow: hidden;
    margin: 50px 0; }
    .container-fluid .feature__wrapper .left-feature {
      width: 400px;
      z-index: 10;
      margin: auto; }
      .container-fluid .feature__wrapper .left-feature .feature--card {
        box-shadow: 0px 5px 10px 0px #d6d6d6; }
        .container-fluid .feature__wrapper .left-feature .feature--card .header h4 {
          margin-bottom: 0 !important;
          font-size: 1rem; }
      @media (max-width: 992px) {
        .container-fluid .feature__wrapper .left-feature {
          width: 95%; } }
    .container-fluid .feature__wrapper .right-feature {
      background-image: url("../assets/mobile-variation-bg.png");
      background-repeat: no-repeat;
      background-size: 550px;
      background-position-x: 100px;
      background-position-y: 50px; }
      @media (max-width: 1200px) {
        .container-fluid .feature__wrapper .right-feature {
          background-size: 500px;
          background-position-x: 70px;
          background-position-y: 25px; } }
      @media (max-width: 992px) {
        .container-fluid .feature__wrapper .right-feature {
          height: 65vh;
          background-size: 400px;
          background-position: center; } }
      @media (max-width: 768px) {
        .container-fluid .feature__wrapper .right-feature {
          height: 60vh;
          background-size: 350px; } }
      @media (max-width: 576px) {
        .container-fluid .feature__wrapper .right-feature {
          height: 40vh;
          margin: 40px 0;
          background-size: 250px; } }
      .container-fluid .feature__wrapper .right-feature .phone-img {
        max-width: 300px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
        @media (max-width: 992px) {
          .container-fluid .feature__wrapper .right-feature .phone-img {
            max-width: 200px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); } }
        @media (max-width: 768px) {
          .container-fluid .feature__wrapper .right-feature .phone-img {
            width: 200px; } }
        @media (max-width: 576px) {
          .container-fluid .feature__wrapper .right-feature .phone-img {
            width: 150px; } }
    .container-fluid .feature--card {
      width: 600px;
      cursor: pointer;
      border-radius: 15px;
      background-color: #ffffff; }
      @media (max-width: 1200px) {
        .container-fluid .feature--card {
          width: 500px; } }
      @media (max-width: 992px) {
        .container-fluid .feature--card {
          width: 100%; } }
      .container-fluid .feature--card .header {
        padding: 15px; }
        .container-fluid .feature--card .header img {
          width: 10%; }
      .container-fluid .feature--card .body {
        background-color: #ffffff;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        overflow: hidden; }
  .container-fluid .promo {
    margin: 50px 0;
    display: flex;
    justify-content: space-around; }
    .container-fluid .promo__desc {
      padding-left: 10%;
      width: 50%; }
      @media (max-width: 992px) {
        .container-fluid .promo__desc {
          width: 95% !important; } }
      @media (max-width: 768px) {
        .container-fluid .promo__desc {
          width: 95%; } }
    .container-fluid .promo .promo-youtube {
      width: 100%;
      height: 250px;
      box-shadow: 0px 5px 10px 0px #d6d6d6; }
      @media (max-width: 992px) {
        .container-fluid .promo .promo-youtube {
          height: 400px; } }
      @media (max-width: 576px) {
        .container-fluid .promo .promo-youtube {
          height: 300px; } }
      @media (max-width: 375px) {
        .container-fluid .promo .promo-youtube {
          height: 250px; } }
    .container-fluid .promo--right {
      width: 800px;
      position: relative; }
      @media (max-width: 992px) {
        .container-fluid .promo--right {
          display: none !important; } }
      .container-fluid .promo--right .box {
        background: white;
        border-radius: 15px;
        box-shadow: 0px 5px 10px 0px #d6d6d6;
        position: absolute; }
  .container-fluid .about {
    padding: 20px 0 100px 0;
    margin: auto; }
    .container-fluid .about h2 {
      width: 95%;
      margin: auto; }
    .container-fluid .about__wrapper {
      box-shadow: 0px 5px 10px 0px #d6d6d6;
      background-color: #ffffff !important;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 0 !important; }
      .container-fluid .about__wrapper .col-lg-6:nth-child(2) {
        padding-right: 0 !important;
        padding-left: 0 !important; }
        .container-fluid .about__wrapper .col-lg-6:nth-child(2) img {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px; }
          @media (max-width: 992px) {
            .container-fluid .about__wrapper .col-lg-6:nth-child(2) img {
              border-top-right-radius: 0;
              border-bottom-left-radius: 15px; } }
