.container .product-section__left .btn-learn-more, .container .section-module--learn-more a {
  text-decoration: none;
  padding: 1em 3.5em;
  background-color: #5d2e8f;
  color: white;
  border-radius: 50px; }

* {
  padding: 0;
  margin: 0; }

html {
  font-size: 16px;
  background-color: #fafafa; }

.container .product-section {
  width: 90%;
  margin: auto;
  padding-bottom: 5em;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 15vh); }
  .container .product-section__left {
    width: 40%; }
    .container .product-section__left .text-bg {
      position: absolute;
      left: 10px;
      font-size: 10rem;
      color: #f0f0f0;
      z-index: -1; }
    .container .product-section__left .logo {
      width: 10em; }
    .container .product-section__left .title {
      padding-bottom: 7px;
      font-size: 2.5rem;
      opacity: 1;
      transform: translateX(0);
      transition: opacity 1s, transform 1s; }
    .container .product-section__left .desc {
      padding: 2em 0;
      opacity: 1;
      transition: opacity 1s;
      margin-bottom: 0.5em; }
    .container .product-section__left .rating {
      display: flex;
      margin-bottom: 3em; }
      .container .product-section__left .rating__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1em;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 0 1em;
        border-radius: 10px;
        box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.09); }
        .container .product-section__left .rating__wrapper--exp {
          display: flex;
          flex-direction: column;
          font-size: 0.8rem; }
          .container .product-section__left .rating__wrapper--exp .stars {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 0.8em; }
        .container .product-section__left .rating__wrapper--years {
          font-size: 1.5rem;
          text-align: center;
          padding: 0.4em;
          line-height: 1.5rem; }
          .container .product-section__left .rating__wrapper--years span {
            font-size: 2rem; }
    .container .product-section__left .btn-learn-more {
      border-radius: 25px;
      box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.09); }
    .container .product-section__left .slidebar .slidebar--arrows {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50px;
      margin-top: 2em; }
      .container .product-section__left .slidebar .slidebar--arrows * {
        cursor: pointer;
        user-select: none; }
  .container .product-section__right {
    position: relative;
    width: 50%;
    background-image: url("../assets/mobile-slider-bg.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center; }
    .container .product-section__right .phone {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%); }
      .container .product-section__right .phone .phone-img {
        width: 100%; }
      .container .product-section__right .phone .play-button {
        width: 40%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer; }

.container .section-client h1 {
  text-align: center;
  padding: 1.2em 0; }

.container .section-client__wrapper {
  display: flex;
  align-items: center; }
  .container .section-client__wrapper .swiper-container {
    width: 100%; }
    .container .section-client__wrapper .swiper-container .swiper-slide img {
      width: 0%;
      margin: 2em 2em;
      padding: 1em;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 25px;
      box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.09);
      display: grid;
      place-items: center; }

.container .section-module {
  margin-bottom: 3em;
  width: 100%; }
  .container .section-module--title {
    text-align: center;
    padding: 4em 0; }
  .container .section-module--learn-more {
    text-align: center; }
  .container .section-module__wrapper {
    width: 100%; }
    .container .section-module__wrapper .swiper-container {
      width: 100%;
      height: 500px;
      margin: 3em 0;
      display: flex;
      align-items: center; }
      .container .section-module__wrapper .swiper-container .swiper-slide {
        transform: scale(0.8); }
      .container .section-module__wrapper .swiper-container .swiper-slide-active {
        transform: scale(1) !important; }
      .container .section-module__wrapper .swiper-container .swiper-pagination-bullet {
        box-sizing: 0px 7px 5px 0px rgba(0, 0, 0, 0.09);
        border-radius: 0;
        padding-top: 5em;
        height: 30px;
        color: #000;
        opacity: 1;
        width: auto;
        background: rgba(0, 0, 0, 0);
        z-index: 99999; }
      .container .section-module__wrapper .swiper-container .swiper-pagination-bullet-active::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 75%;
        padding-top: 20px;
        border-bottom: 3px solid #09397f; }
    .container .section-module__wrapper .swiper-container .card {
      color: #ffffff;
      margin: 0 1px; }
      .container .section-module__wrapper .swiper-container .card--header {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        padding: 1em; }
      .container .section-module__wrapper .swiper-container .card--body {
        padding: 1em; }
        .container .section-module__wrapper .swiper-container .card--body ul {
          padding: 1em 0; }
        .container .section-module__wrapper .swiper-container .card--body li {
          list-style: none;
          line-height: 1.5em; }
      .container .section-module__wrapper .swiper-container .card--footer {
        padding: 1em;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.09); }
        .container .section-module__wrapper .swiper-container .card--footer a {
          color: white;
          text-decoration: none; }

.container .section-4 {
  overflow: hidden;
  padding: 4em; }
  .container .section-4--title {
    text-align: center; }
    .container .section-4--title h1 {
      padding-bottom: 3em; }
  .container .section-4--bg {
    position: absolute; }
  .container .section-4__wrapper {
    display: flex; }
    .container .section-4__wrapper__left {
      width: 40%;
      padding-left: 5%; }
      .container .section-4__wrapper__left .card {
        margin-bottom: 15px;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 1.5em;
        box-sizing: border-box;
        box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.09); }
        .container .section-4__wrapper__left .card--header {
          display: flex;
          align-items: center;
          justify-content: inherit; }
          .container .section-4__wrapper__left .card--header img {
            width: 15%; }
          .container .section-4__wrapper__left .card--header h4 {
            padding-left: 20px; }
        .container .section-4__wrapper__left .card--body {
          padding: 10px 0; }
    .container .section-4__wrapper__right {
      width: 50%;
      position: relative; }
      .container .section-4__wrapper__right .phone-img {
        position: absolute;
        z-index: 999999;
        width: 45%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%); }
      .container .section-4__wrapper__right .bg {
        position: absolute;
        width: 120%;
        right: -200px;
        top: 50%;
        transform: translateY(-50%); }

.container .section-5 {
  display: flex;
  width: 90%;
  height: 100vh;
  margin: auto;
  padding: 3em 0; }
  .container .section-5__left {
    width: 40%; }
    .container .section-5__left h1 {
      padding: 1.5em 0; }
    .container .section-5__left .vp-promo {
      margin: 2em 0; }
  .container .section-5__right {
    position: relative;
    width: 60%; }
    .container .section-5__right .item {
      position: absolute;
      padding: 1.8em;
      background-color: #ffffff;
      border-radius: 15px;
      box-sizing: border-box;
      box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.09); }
      .container .section-5__right .item img {
        width: 100%; }
    .container .section-5__right .item:nth-child(1) {
      top: 0;
      left: 0;
      transform: translate(0, 0); }
    .container .section-5__right .item:nth-child(2) {
      top: 0;
      right: 0;
      transform: translate(0, 0); }
    .container .section-5__right .item:nth-child(3) {
      top: 30%;
      left: 50%;
      transform: translate(-30%, -50%); }
    .container .section-5__right .item:nth-child(4) {
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
    .container .section-5__right .item:nth-child(5) {
      top: 70%;
      left: 50%;
      transform: translate(-40%, -70%); }
    .container .section-5__right .item:nth-child(6) {
      top: 50%;
      right: 0;
      transform: translateY(-50%); }
    .container .section-5__right .item:nth-child(7) {
      top: 70%;
      left: 0; }
    .container .section-5__right .item:nth-child(8) {
      top: 100%;
      left: 50%;
      transform: translate(-50%, -100%); }
    .container .section-5__right .item:nth-child(9) {
      top: 70%;
      right: 0; }

.container .section-6 {
  width: 90%;
  margin: auto;
  padding: 4em 0; }
  .container .section-6--title {
    text-align: center;
    padding-bottom: 3em; }
  .container .section-6__wrapper {
    display: flex;
    background-color: #ffffff;
    border-radius: 25px;
    height: 40vh;
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center;
    justify-content: center; }
    .container .section-6__wrapper__left {
      padding: 2em;
      box-sizing: border-box;
      width: 50%; }
      .container .section-6__wrapper__left p {
        padding: 3em 0; }
      .container .section-6__wrapper__left a {
        text-decoration: none;
        color: black;
        padding: 0.5em 1.5em;
        border: 1px solid #000;
        border-radius: 50px; }
    .container .section-6__wrapper__right {
      width: 50%;
      height: 100%;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      background-image: url("../assets/entitas-privat.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center; }

.container .section-7 {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto; }
  .container .section-7__left p {
    padding: 1em 0;
    width: 50%; }
