@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.super {
  overflow: hidden; }

.super__container {
  max-width: 1970px;
  margin: auto;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 1s, background-color 1s; }

.container-fluid {
  background-color: #fafafa;
  overflow: hidden;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important; }
  @media (max-width: 376px) {
    .container-fluid .rhapsody-banner__wrapper {
      flex-direction: column !important; } }
  .container-fluid .rhapsody-banner__wrapper--item img {
    width: 200px; }
    @media (max-width: 992px) {
      .container-fluid .rhapsody-banner__wrapper--item img {
        width: 150px; } }
    @media (max-width: 576px) {
      .container-fluid .rhapsody-banner__wrapper--item img {
        width: 120px; } }
    @media (max-width: 376px) {
      .container-fluid .rhapsody-banner__wrapper--item img {
        width: 200px; } }
  @media (max-width: 376px) {
    .container-fluid .w-75 {
      width: 100% !important; } }
  @media (max-width: 376px) {
    .container-fluid .w-75 .rhapsody-demo .col-lg-6:nth-child(2) {
      display: flex !important;
      flex-direction: column !important; } }
  .container-fluid .w-75 .rhapsody-demo img {
    width: 400px; }
    @media (max-width: 376px) {
      .container-fluid .w-75 .rhapsody-demo img {
        width: 270px; } }
  .container-fluid .w-75 .rhapsody-demo .btn--demo {
    background-color: #5d2e8f; }
  .container-fluid .w-75 .feature {
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap; }
    .container-fluid .w-75 .feature__items {
      width: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 5px; }
      @media (max-width: 992px) {
        .container-fluid .w-75 .feature__items {
          font-size: 0.7rem; } }
      .container-fluid .w-75 .feature__items img {
        max-width: 100%;
        margin-bottom: 15px; }
        @media (max-width: 992px) {
          .container-fluid .w-75 .feature__items img {
            max-width: 70%; } }
  .container-fluid .benefit {
    color: #ffffff;
    text-align: center; }
    .container-fluid .benefit__title {
      margin-bottom: 40px; }
    .container-fluid .benefit .w-75 {
      display: flex;
      align-items: flex-start;
      padding: 20px 0; }
    .container-fluid .benefit__top {
      background-image: url("../assets/hospitality-system_assets/header-rhapsody-hospitality-2.jpg");
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 150px; }
    .container-fluid .benefit__bottom {
      background-image: url("../assets/hospitality-system_assets/header-rhapsody-hospitality-3.jpg");
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 150px; }
    .container-fluid .benefit__top--items, .container-fluid .benefit__bottom--items {
      width: 300px;
      height: 300px;
      margin: auto; }
      .container-fluid .benefit__top--items img, .container-fluid .benefit__bottom--items img {
        margin-bottom: 20px; }
  .container-fluid .features-and-modules__wrapper--item {
    overflow: hidden; }
    .container-fluid .features-and-modules__wrapper--item .title__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 350px;
      height: 50px;
      padding: 0 10px;
      background-color: #e0e0e0;
      cursor: pointer; }
      .container-fluid .features-and-modules__wrapper--item .title__container h5 {
        margin: 0; }
  .container-fluid .contact-us .col-lg-6:nth-child(1) .achievement {
    font-size: 0.8em;
    line-height: 15px; }
    .container-fluid .contact-us .col-lg-6:nth-child(1) .achievement--item {
      margin: 0 5px; }
      @media (max-width: 376px) {
        .container-fluid .contact-us .col-lg-6:nth-child(1) .achievement--item {
          margin: 0; } }
