@font-face {
  font-family: MaisonNeue-Bold;
  src: url("../css/font/MaisonNeue-Bold.ttf"); }

@font-face {
  font-family: MaisonNeue-Light;
  src: url("../css/font/MaisonNeue-Light.ttf"); }

@font-face {
  font-family: MaisonNeue-Book;
  src: url("../css/font/MaisonNeue-Book.ttf"); }

nav .nav--links .contact-us {
  text-decoration: none;
  padding: 1em 2em;
  background-color: #5d2e8f;
  color: white;
  border-radius: 50px;
  width: auto;
  white-space: nowrap; }

nav {
  width: 80%;
  margin: auto;
  height: 20vh;
  font-family: MaisonNeue-Book;
  font-size: 0.7rem;
  padding-top: 1em; }
  nav .nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    nav .nav--links {
      display: flex;
      text-decoration: none;
      color: red; }
      nav .nav--links a:not(:last-child) {
        padding-right: 1.5em; }
      nav .nav--links a {
        text-decoration: none;
        color: #000000;
        display: flex;
        align-items: center; }
    nav .nav--logo img {
      width: 100px; }
  nav .nav--switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    height: 30px;
    position: relative;
    border-radius: 50px;
    margin-left: auto;
    box-sizing: border-box;
    padding: 0 10px;
    width: 10em;
    margin-top: 0.7em; }
    nav .nav--switch .ina-lang {
      width: 50%;
      height: 100%;
      background-color: #5d2e8f;
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 50px; }
    nav .nav--switch .en-lang {
      color: #000;
      position: absolute;
      right: 0;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
