@mixin flex-item-center($justify-content) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

@mixin homepagePromoAnimation($item) {
  animation: $item 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

%btn {
  text-decoration: none;
  padding: 1em 3.5em;
  background-color: $primary-color;
  color: white;
  border-radius: 50px;
}
