@import "variables", "styling";

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  background-color: $secondary-color;
}

$box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.09);

.container {
  .product-section {
    width: 90%;
    margin: auto;
    padding-bottom: 5em;
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 15vh);

    &__left {
      width: 40%;

      .text-bg {
        position: absolute;
        left: 10px;
        font-size: 10rem;
        color: #f0f0f0;
        z-index: -1;
      }

      .logo {
        width: 10em;
      }

      .title {
        padding-bottom: 7px;
        font-size: 2.5rem;
        opacity: 1;
        transform: translateX(0);
        transition: opacity 1s, transform 1s;
      }

      .desc {
        padding: 2em 0;
        opacity: 1;
        transition: opacity 1s;
        margin-bottom: 0.5em;
      }

      .rating {
        display: flex;
        margin-bottom: 3em;

        &__wrapper {
          @include flex-item-center(center);
          margin-right: 1em;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 0 1em;
          border-radius: 10px;
          box-shadow: $box-shadow;

          &--exp {
            display: flex;
            flex-direction: column;
            font-size: 0.8rem;

            .stars {
              @include flex-item-center(space-between);
              width: 100%;
              margin-bottom: 0.8em;
            }
          }

          &--years {
            font-size: 1.5rem;
            text-align: center;
            padding: 0.4em;
            line-height: 1.5rem;

            span {
              font-size: 2rem;
            }
          }
        }
      }

      .btn-learn-more {
        @extend %btn;
        border-radius: 25px;
        box-shadow: $box-shadow;
      }

      .slidebar {
        .slidebar--arrows {
          @include flex-item-center(space-between);
          width: 50px;
          margin-top: 2em;

          * {
            cursor: pointer;
            user-select: none;
          }
        }
      }
    }

    &__right {
      position: relative;
      width: 50%;
      background-image: url("../assets/mobile-slider-bg.png");
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: center;

      .phone {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);

        .phone-img {
          width: 100%;
        }

        .play-button {
          width: 40%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
        }
      }
    }
  }

  .section-client {
    h1 {
      text-align: center;
      padding: 1.2em 0;
    }

    &__wrapper {
      display: flex;
      align-items: center;

      .swiper-container {
        width: 100%;

        .swiper-slide {
          img {
            width: 80%;
            margin: 2em 2em;
            padding: 1em;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 25px;
            box-shadow: $box-shadow;
            display: grid;
            place-items: center;
          }
        }
      }
    }
  }

  .section-module {
    margin-bottom: 3em;
    width: 100%;

    &--title {
      text-align: center;
      padding: 4em 0;
    }

    &--learn-more {
      text-align: center;
      a {
        @extend %btn;
      }
    }

    &__wrapper {
      width: 100%;
      .swiper-container {
        width: 100%;
        height: 500px;
        margin: 3em 0;
        display: flex;
        align-items: center;
        .swiper-slide {
          transform: scale(0.8);
        }

        .swiper-slide-active {
          transform: scale(1) !important;
        }
        // Ref : https://codepen.io/ncer/pen/xpqemZ
        .swiper-pagination-bullet {
          box-sizing: $box-shadow;
          // margin: 1em 5em;
          border-radius: 0;
          margin-top: 5em;
          height: auto;
          color: #000;
          opacity: 1;
          width: auto;
          background: rgba(0, 0, 0, 00);
          z-index: 99999;
        }

        .swiper-pagination-bullet-active {
        }

        // Ref https://www.steckinsights.com/shorten-length-border-bottom-pure-css/
        .swiper-pagination-bullet-active::after {
          content: "";

          display: block;
          margin: 0 auto;
          width: 75%;
          padding-top: 20px;
          border-bottom: 3px solid #09397f;
        }
      }

      .swiper-container .card {
        color: #ffffff;
        margin: 0 1px;

        &--header {
          // background-color: #09397f;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
          padding: 1em;
        }
        &--body {
          // background-color: #0e4eac;
          padding: 1em;
          ul {
            padding: 1em 0;
          }

          li {
            list-style: none;
            line-height: 1.5em;
          }
        }

        &--footer {
          // background-color: #0e4eac;
          padding: 1em;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          box-shadow: $box-shadow;

          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }

  .section-feature {
    overflow: hidden;
    padding: 4em;
    &--title {
      text-align: center;

      h1 {
        padding-bottom: 3em;
      }
    }

    &--bg {
      position: absolute;
    }

    &__wrapper {
      display: flex;

      &__left {
        width: 40%;
        padding-left: 5%;

        .card {
          cursor: pointer;
          margin-bottom: 15px;
          background-color: #ffffff;
          border-radius: 20px;
          padding: 1.5em;
          box-sizing: border-box;
          box-shadow: $box-shadow;
          &--header {
            @include flex-item-center(inherit);

            img {
              width: 15%;
            }

            h4 {
              padding-left: 20px;
            }
          }

          &--body {
            padding: 0;
            transition: padding 1s;

            p {
              max-height: 0;
              overflow: hidden;
              transition: max-height 1s;
            }
          }
        }
      }

      &__right {
        width: 50%;
        position: relative;

        .phone-img {
          position: absolute;
          z-index: 999999;
          width: 45%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -60%);
        }

        .bg {
          position: absolute;
          width: 120%;
          right: -200px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  .section-promo {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100vh;
    margin: auto;
    padding: 3em 0;
    overflow: hidden;

    &__left {
      width: 40%;

      h1 {
        padding: 1.5em 0;
      }

      .vp-promo {
        margin: 2em 0;
      }
    }

    &__right {
      position: relative;
      width: 55%;
      // background-color: red;

      .item {
        position: absolute;
        padding: 1.8em;
        background-color: #ffffff;
        border-radius: 15px;
        box-sizing: border-box;
        box-shadow: $box-shadow;

        img {
          width: 100%;
        }
      }

      .item:nth-child(1) {
        top: 0;
        left: 0;
        transform: translate(0, 0);
        @include homepagePromoAnimation(item1);
      }

      @keyframes item1 {
        from {
          top: 0;
          left: 0;
          transform: translate(0, 0);
        }

        to {
          top: 0;
          left: 0;
          transform: translate(100px, 50px);
        }
      }

      .item:nth-child(2) {
        top: 0;
        right: 0;
        transform: translate(0, 0);
        @include homepagePromoAnimation(item2);
      }

      @keyframes item2 {
        from {
          top: 0;
          right: 0;
          transform: translate(0, 0);
        }

        to {
          top: 0;
          right: 0;
          transform: translate(-100px, 25px);
        }
      }

      .item:nth-child(3) {
        top: 30%;
        left: 50%;
        transform: translate(-30%, -50%);
        @include homepagePromoAnimation(item3);
      }

      @keyframes item3 {
        from {
          top: 30%;
          left: 50%;
          transform: translate(-30%, -100%);
        }

        to {
          top: 30%;
          left: 50%;
          transform: translate(-30%, -20%);
        }
      }

      .item:nth-child(4) {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @include homepagePromoAnimation(item4);
      }

      @keyframes item4 {
        from {
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }

        to {
          top: 50%;
          left: 0;
          transform: translate(25%, -40%);
        }
      }

      .item:nth-child(5) {
        top: 70%;
        left: 50%;
        transform: translate(-40%, -70%);
        @include homepagePromoAnimation(item5);
      }

      @keyframes item5 {
        from {
          top: 70%;
          left: 50%;
          transform: translate(-40%, -50%);
        }

        to {
          top: 70%;
          left: 50%;
          transform: translate(-40%, -70%);
        }
      }

      .item:nth-child(6) {
        top: 50%;
        right: 0;
        transform: translate(-50%, 0);
        @include homepagePromoAnimation(item6);
      }

      @keyframes item6 {
        from {
          top: 50%;
          right: 0;
          transform: translate(30%, -50%);
        }

        to {
          top: 50%;
          right: 0;
          transform: translate(-10%, -50%);
        }
      }

      .item:nth-child(7) {
        top: 70%;
        left: 0;
        transform: translate(0, 70%);
        @include homepagePromoAnimation(item7);
      }

      @keyframes item7 {
        from {
          top: 70%;
          left: 0;
          transform: translate(0, 70%);
        }

        to {
          top: 70%;
          left: 0;
          transform: translate(50%, 25%);
        }
      }

      .item:nth-child(8) {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);
        @include homepagePromoAnimation(item8);
      }

      @keyframes item8 {
        from {
          top: 110%;
          left: 50%;
          transform: translate(-20%, -100%);
        }

        to {
          top: 100%;
          left: 50%;
          transform: translate(-20%, -100%);
        }
      }

      .item:nth-child(9) {
        top: 100%;
        right: 0;
        transform: translate(0, -100%);
        @include homepagePromoAnimation(item9);
      }

      @keyframes item9 {
        from {
          top: 110%;
          right: 0;
          transform: translate(40%, -100%);
        }

        to {
          top: 90%;
          right: 0;
          transform: translate(0, -100%);
        }
      }
    }
  }

  .section-about-us {
    width: 90%;
    margin: auto;
    padding: 4em 0;

    &--title {
      text-align: center;
      padding-bottom: 3em;
    }

    &__wrapper {
      display: flex;
      background-color: #ffffff;
      border-radius: 25px;
      height: 40vh;
      box-shadow: $box-shadow;
      @include flex-item-center(center);

      &__left {
        padding: 2em;
        box-sizing: border-box;
        width: 50%;
        p {
          padding: 3em 0;
        }

        a {
          text-decoration: none;
          color: black;
          padding: 0.5em 1.5em;
          border: 1px solid #000;
          border-radius: 50px;
        }
      }

      &__right {
        width: 50%;
        height: 100%;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        background-image: url("../assets/entitas-privat.png");
        // background-color: red;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .section-7 {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;

    &__left p {
      padding: 1em 0;
      width: 50%;
    }
  }
}
